  .navbar-container {
    position: relative;
  }
  
  .burger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 1000;
    transition: right 0.5s ease;
    background-color: transparent;
    mix-blend-mode: difference;
  }

  .burger-menu.open {
    right: 190px;
    background-color: transparent;
  }

.navbar {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #222;
    color: #fff;
    display: flex;
    right: -250px; /* Start hidden off-screen */
    width: 250px;
    transition: right 0.5s ease;
    flex-direction: column;
    align-items: flex-start;
    z-index: 999;
  }

  .navbar.open {
    right: 0; /* Slide in */
  }
  
  .navbar-list {
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .navbar-item {
    font-size: 1.2rem; 
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, font-size 0.3s ease;
  }
  
  .navbar-item a:hover {
    color: #aaa;
    font-size: 1.1rem;
  }

  .home {
    display: flex;
    flex-direction: column;
    background-color: #333;
    height: 100vh;
    justify-content: center;
    padding-right: 250px; /* Space for the navbar to slide out */
    padding: 1rem;
  }

  .heading {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin-top: -5rem;
    margin-left: 10rem;
    margin-right: auto;
    justify-content: center;
    z-index: 1;
  }

  .heading > img {
    width: 18vw;
    margin-top: -1rem;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .heading-text > h1 {
    font-size: 60px;
    color: #fff;
    margin-bottom: -2rem;
    padding-left: 2rem;
  }

  .heading-text > h2 {
    font-size: 60px;
    color: #fff;
    margin-bottom: -2rem;
    font-weight: 500;
    padding-left: 2rem;
  }

  .subheading {
    width: 52%;
    margin-left: 18rem;
    margin-right: auto;
    background-color: #fff;
    margin-top: -7rem;
    height: 50px;
  }

  .subheading > p {
    width: fit-content;
    margin-left: auto;
    font-size: 20px;
    margin-top: 12px;
    padding-right: 1rem;
  }

  .tech-stack-section {
    height: 85vh;
    background: linear-gradient(to bottom, #555, #fff);
    position: relative;
    overflow: visible; /* Ensure the icons stay within the section */
  }

  .tech-stack-heading {
    background: linear-gradient(to bottom, #333, #555);
  }
  
  .tech-stack-heading > h1 {
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    border: none;
    width: fit-content;
    margin-left: -650px;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    letter-spacing: 2rem;
    word-spacing: 3rem;
    opacity: 0;
    transition: margin-left 1s ease, opacity 1s ease;
  }

  .tech-stack-heading.visible > h1 {
    margin-left: 416px;
    opacity: 1;
  }
  
  .tech-stack-icons {
    display: flex;
    gap: 150px;
    position: relative;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* Base opacity */
    transition: opacity 0.2s ease-in-out; /* Faster transition for smoother effect */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .tech-stack-icons.visible {
    opacity: calc(var(--visibility-percentage, 0)); /* Dynamically update opacity */
  }

  .tech-stack-icons > img {
    transition: scale 0.2s ease-in-out;
  }

  .tech-stack-icons.visible > img {
    scale: calc(var(--visibility-percentage, 0));
  }
  
  
  .tech-icon {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Makes the element circular */
    overflow: visible;
  }

  .about-me {
    display: flex;
    background: #fff;
    flex-direction: column;
    color: #333;
  }

  .about-me-title {
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    width: fit-content;
    padding: 1rem;
    padding-left : 3rem;
    margin-top: 6rem;
    margin-left: -650px;
    padding-top: 2rem;
    letter-spacing: 2rem;
    word-spacing: 3rem;
    opacity: 0;
    transition: margin-left 1s ease, opacity 1s ease;
  }

  .about-me-title.visible {
    margin-left: 462px;
    opacity: 1;
  }

  .about-me-heading {
    opacity: 0;
    margin-left: 1400px;
    transition: margin-left 1s ease, opacity 1s ease;
    width: 65%;
    text-align: left;
    margin-bottom: 3rem;
  }

  .about-me-heading.visible {
    margin-left: 266px;
    opacity: 1;
  }

  .about-me-heading-title {
    font-size: 60px;
    padding-left: 1rem;
  }

  .about-me-heading-subtitle {
    color: #fff;
    margin-top: -2rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    font-weight: 500;
  }

  .about-me-heading-p {
    color: #333;
    padding: 0.5rem 1rem;
    background-color: #fff;
    font-weight: 500;
    text-align: left;
    width: 65%;
    margin-left: -650px;
    opacity: 0;
    transition: margin-left 1s ease, opacity 1s ease;
  }

  .about-me-heading-p.visible {
    opacity: 1;
    margin-left: 250px;
  }

  .inbetween-fade {
    height: 60vh;
    background: linear-gradient(to bottom, #fff 30%, #090a0f);
  }

  .placeholder {
    height: 100vh;
    background-color: #fff;
  }